{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "Contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<br>
			{% if LANGUAGE_CODE == 'kk' %}
				<h2 align = "center "> "Ансар" Бизнес орталығы </h2> 
				<address>
					Сығанақ көшесі 43, Астана 020000<br> 
					<a href="tel:+77172550633">+7(7172)55‒06‒33</a><br>
				</address>		
			{% else %}
				<h2 align="center">Бизнес-центр "Ансар"</h2>
				<address>
					<p>ул. Сыганак 43, Астана 020000<br> 
					<a href="tel:+77172550633">+7(7172)55‒06‒33</a><br>
				</address>		
			{% endif %}						
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.19828708552!2d71.4289372761399!3d51.12325043869452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424584192053fef9%3A0x6c9e6c87ed7fb501!2z0JDQvdGB0LDRgA!5e0!3m2!1sru!2skz!4v1744434750889!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}